.primary-nav {
    padding: 10px 0;
    @mixin atMedium {
        padding: 0;
    }
    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        @mixin clearFix;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        @mixin atMedium {
            float: left;
            padding-right: 20px;
        }
        list-style: none;
        padding-right: 7px;
        padding-top: 7px;
    }
    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }
    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 8px 13px;
        font-size: 0.8rem;
        font-weight: 300;
        background-color: rgba($mainBlue, 0.8);
        border-radius: 5px;
        @mixin atMedium {
            background-color: transparent;
            font-size: 1rem;
            padding: 12px 0;
            &.is-current-link {
                color: #fabb69
            }
        }
    }
}